.container-title {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid silver;
}

.container-logo {
  display: flex;
}

.logo {
  width: 60px;
  height: 60px;
}

.store {
  margin-left: 20px;
  font-size: 25px;
}

.container-title ul {
  display: flex;
  margin-right: 30px;
}

.container-title ul li {
  list-style-type: none;
  padding-left: 20px;
}

.last {
  border-left: 2px solid silver;
  padding-left: 20px;
}

.container-title ul li a {
  text-decoration: none;
  color: dodgerblue;
}

/* Missions.css */

.missions-container {
  margin: 20px;
}

.missions-table {
  width: 100%;
  border-collapse: collapse;
}

.missions-table th,
.missions-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

.missions-table th {
  background-color: #fff;
  font-weight: bold;
}

.mission-name {
  font-weight: bold;
}

.missions-table tr {
  background-color: #f0f0f0;
}

.missions-table tr.active {
  background-color: #fff;
}

.missions-table .membership-label {
  width: 120px;
  font-weight: bold;
  text-align: center;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
  background-color: rgb(95, 92, 92);
  color: white;
}

.missions-table .active-member-label {
  background-color: dodgerblue;
  color: white;
}

.action-button {
  width: 120px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

/* profiles.css */

.profiles-container {
  text-align: center;
  padding: 20px;
}

.profile-missions-heading {
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: left;
}

.profile-missions-table {
  width: 40%;
  margin-right: auto;
  border-collapse: collapse;
}

.profile-missions-table th,
.profile-missions-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.profile-missions-table th {
  background-color: #fff;
  font-weight: bold;
}

.profile-missions-table tbody tr:nth-child(even) {
  background-color: #fff;
}
